<input
  #input
  baf-search-input
  type="text"
  [formControl]="control"
  [placeholder]="options.placeholder ?? options.label"
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
  (click)="onOpen()"
/>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="opened()"
  [cdkConnectedOverlayWidth]="width"
  [cdkConnectedOverlayOffsetY]="1"
  (overlayOutsideClick)="onClose()"
>
  <div class="search-autocomplete-overlay">
    <div *ngFor="let option of options$ | async">
      {{ option.code }}
    </div>
  </div>
</ng-template>
